In [2]:
from bs4 import BeautifulSoup
import urllib

import os
from selenium import webdriver

chromedriver = "/Users/bokshenggan/Documents/BokSheng_Life/Science/Projects/project-four/chromedriver"
os.environ["webdriver.chrome.driver"] = chromedriver
# driver = webdriver.Chrome(chromedriver)
driver = webdriver.Chrome(executable_path="./chromedriver/chromedriver")

In [11]:
# Create a driver called "driver."
driver = webdriver.Chrome(executable_path="./chromedriver/chromedriver")
driver.implicitly_wait(10)
driver.get("https://www.careerbuilder.com/jobs-data-scientist-in-united-states?location=")

In [3]:
import os
from selenium import webdriver

chromedriver = "/Users/bokshenggan/Documents/BokSheng_Life/Science/Projects/project-four/chromedriver"
os.environ["webdriver.chrome.driver"] = chromedriver
# driver = webdriver.Chrome(chromedriver)

In [12]:
driver.close()

In [13]:
# Create a driver called "driver."
driver = webdriver.Chrome(executable_path="./chromedriver/chromedriver")
driver.implicitly_wait(10)
driver.get("https://www.careerbuilder.com/jobs-data-scientist-in-united-states?location=")

In [14]:
soup = BeautifulSoup(driver.page_source, 'lxml')

In [15]:
jobtitles = []
for i in soup.find_all("h2",attrs={"class":"job-title show-for-medium-up"}):
    try:
        jobtitles.append(i.text)
    except:
        jobtitles.append('ZERO')

In [16]:
addinfo = []
for i in soup.find_all("h4",attrs={"class":"job-text employment-info"}):
    try:
        addinfo.append(i.text)
    except:
        addinfo.append('ZERO')

In [17]:
company_add_addinfo = []
for i in soup.find_all("h4",attrs={"class":"job-text"}):
    try:
        company_add_addinfo.append(i.a['text'])
    except:
        company_add_addinfo.append(i.text)
company = []
add = []

for i,e in enumerate(company_add_addinfo):
    if i in range(1,75,3):
        company.append(e)
    elif i in range(2,75,3):
        add.append(e)

In [18]:
joblinks = []
for i in soup.find_all("h2",attrs={"class":"job-title show-for-medium-up"}):
    joblinks.append('https://www.careerbuilder.com/'+i.a['href'])

In [19]:
import pandas as pd
d = {'jobtitles':jobtitles,'joblinks':joblinks,'addinfo':addinfo,'company':company,'add':add}

In [20]:
step = pd.DataFrame(d)
step.head()

,add,addinfo,company,joblinks,jobtitles
0,"\nWaltham, MA, United States\n","\nFull Time | Pay: $190,000 - $200,000/year\n",\nFRG Technology Consulting\n,https://www.careerbuilder.com//job/J3M46Z6QXVL...,"\nData Scientist - Waltham, MA - $190K\n"
1,"\n106 East 6th Street, Austin, TX, United Stat...","\nFull Time | Pay: $100,000 - $130,000/year\n",\nRoc Search Inc\n,https://www.careerbuilder.com//job/J3R7GK6M5XZ...,\nData Scientist\n
2,"\n9675 NW 117th Ave, Miami, FL 33178, USA\n","\nFull Time | Pay: $90,000 - $110,000/year\n","\nSynergy Business Consulting, Inc.\n",https://www.careerbuilder.com//job/J8Q5M1654FP...,\nData Scientist\n
3,"\nSan Francisco, CA, USA\n",\nContractor | Pay: $60 - $75/hour\n,\nCatapult Staffing\n,https://www.careerbuilder.com//job/JJJ15Y71NM7...,\nData Scientist\n
4,"\nCincinnati, OH, USA\n","\nFull Time | Pay: $120,000 - $125,000/year\n",\nA-Line Staffing Solutions\n,https://www.careerbuilder.com//job/JHQ1YW6ZTVB...,\nData Scientist\n

In [23]:
for i in step['joblinks']:
    print i

https://www.careerbuilder.com//job/J3M46Z6QXVLZF5LZR23?ipath=JRGT1&keywords=data+scientist&location=united+states&searchid=a364517c-0c5b-45de-a3a9-30502f6e4da2&siteid=cbnsv
https://www.careerbuilder.com//job/J3R7GK6M5XZL94B9QDN?ipath=JRGT2&keywords=data+scientist&location=united+states&searchid=a364517c-0c5b-45de-a3a9-30502f6e4da2&siteid=cbnsv
https://www.careerbuilder.com//job/J8Q5M1654FPFFD5ZB9Y?ipath=JRGT3&keywords=data+scientist&location=united+states&searchid=a364517c-0c5b-45de-a3a9-30502f6e4da2&siteid=cbnsv
https://www.careerbuilder.com//job/JJJ15Y71NM7FR7831S4?ipath=JRGT4&keywords=data+scientist&location=united+states&searchid=a364517c-0c5b-45de-a3a9-30502f6e4da2&siteid=cbnsv
https://www.careerbuilder.com//job/JHQ1YW6ZTVB317PDG2R?ipath=JRGT5&keywords=data+scientist&location=united+states&searchid=a364517c-0c5b-45de-a3a9-30502f6e4da2&siteid=cbnsv
https://www.careerbuilder.com//job/JHQ11D6WMW0N743W107?ipath=JRGT6&keywords=data+scientist&location=united+states&searchid=a364517c-0c5b-45de-a3a9-30502f6e4da2&siteid=cbnsv
https://www.careerbuilder.com//job/J3N6FM6GFZJXKJ91959?ipath=JRGT7&keywords=data+scientist&location=united+states&searchid=a364517c-0c5b-45de-a3a9-30502f6e4da2&siteid=cbnsv
https://www.careerbuilder.com//job/J3F67D6J591DT1YM6KF?ipath=JRGT8&keywords=data+scientist&location=united+states&searchid=a364517c-0c5b-45de-a3a9-30502f6e4da2&siteid=cbnsv
https://www.careerbuilder.com//job/JHM4V66QXKPG7RBXK41?ipath=JRGT9&keywords=data+scientist&location=united+states&searchid=a364517c-0c5b-45de-a3a9-30502f6e4da2&siteid=cbnsv
https://www.careerbuilder.com//job/J3W0QH62TYTSSJ0Q6JT?ipath=JRGT10&keywords=data+scientist&location=united+states&searchid=a364517c-0c5b-45de-a3a9-30502f6e4da2&siteid=cbnsv
https://www.careerbuilder.com//job/J3V5BT70RD5BY62MFNR?ipath=JRGT11&keywords=data+scientist&location=united+states&searchid=a364517c-0c5b-45de-a3a9-30502f6e4da2&siteid=cbnsv
https://www.careerbuilder.com//job/J3Q75D712V96HDSK5WD?ipath=JRGT12&keywords=data+scientist&location=united+states&searchid=a364517c-0c5b-45de-a3a9-30502f6e4da2&siteid=cbnsv
https://www.careerbuilder.com//job/J3M30574RS1G023Q124?ipath=JRGT13&keywords=data+scientist&location=united+states&searchid=a364517c-0c5b-45de-a3a9-30502f6e4da2&siteid=cbnsv
https://www.careerbuilder.com//job/J3S4G96F6JYRDKMG0ZJ?ipath=JRGT14&keywords=data+scientist&location=united+states&searchid=a364517c-0c5b-45de-a3a9-30502f6e4da2&siteid=cbnsv
https://www.careerbuilder.com//job/JHR7KQ6DK9BL3J2K5JR?ipath=JRGT15&keywords=data+scientist&location=united+states&searchid=a364517c-0c5b-45de-a3a9-30502f6e4da2&siteid=cbnsv
https://www.careerbuilder.com//job/J3R6YL5YNVG3404VRQF?ipath=JRGT16&keywords=data+scientist&location=united+states&searchid=a364517c-0c5b-45de-a3a9-30502f6e4da2&siteid=cbnsv
https://www.careerbuilder.com//job/J3T2NG745Y33P8HKWLP?ipath=JRGT17&keywords=data+scientist&location=united+states&searchid=a364517c-0c5b-45de-a3a9-30502f6e4da2&siteid=cbnsv
https://www.careerbuilder.com//job/J3P1DB6VJLNDGWJJGRM?ipath=JRGT18&keywords=data+scientist&location=united+states&searchid=a364517c-0c5b-45de-a3a9-30502f6e4da2&siteid=cbnsv
https://www.careerbuilder.com//job/JJJ2L26P0QDYVPGLL12?ipath=JRGT19&keywords=data+scientist&location=united+states&searchid=a364517c-0c5b-45de-a3a9-30502f6e4da2&siteid=cbnsv
https://www.careerbuilder.com//job/J3W1VG73MD364TYDMC5?ipath=JRGT20&keywords=data+scientist&location=united+states&searchid=a364517c-0c5b-45de-a3a9-30502f6e4da2&siteid=cbnsv
https://www.careerbuilder.com//job/J3V2RM6QDJ2F0HHPCZN?ipath=JRGT21&keywords=data+scientist&location=united+states&searchid=a364517c-0c5b-45de-a3a9-30502f6e4da2&siteid=cbnsv
https://www.careerbuilder.com//job/J3R6HT6YC19B65QG6M4?ipath=JRGT22&keywords=data+scientist&location=united+states&searchid=a364517c-0c5b-45de-a3a9-30502f6e4da2&siteid=cbnsv
https://www.careerbuilder.com//job/J3P3HM727HTWC40NSQ9?ipath=JRGT23&keywords=data+scientist&location=united+states&searchid=a364517c-0c5b-45de-a3a9-30502f6e4da2&siteid=cbnsv
https://www.careerbuilder.com//job/JHS1ZQ5YY1HKP7ZZD4G?ipath=JRGT24&keywords=data+scientist&location=united+states&searchid=a364517c-0c5b-45de-a3a9-30502f6e4da2&siteid=cbnsv
https://www.careerbuilder.com//job/J8S0V95WG6DPVK9RKD7?ipath=JRGT25&keywords=data+scientist&location=united+states&searchid=a364517c-0c5b-45de-a3a9-30502f6e4da2&siteid=cbnsv

In [24]:
description=[]
for i in step['joblinks'][0:2]:
    driver = webdriver.Chrome(executable_path="./chromedriver/chromedriver")
    driver.get(i)
    soup = BeautifulSoup(driver.page_source, 'lxml')
    for i in soup.find_all("div",attrs={"class":"description"}):
        description.append(i.text)
    driver.close()

In [ ]:
driver = webdriver.Chrome(executable_path="./chromedriver/chromedriver")
driver.implicitly_wait(10)
driver.get("https://www.careerbuilder.com/job/JHS1ZQ5YY1HKP7ZZD4G?ipath=JRGT1&keywords=data+scientist&location=united+states&searchid=8a9e7241-7c05-4a68-a310-458281096c48&siteid=ns_sg_g")

In [ ]:
soup = BeautifulSoup(driver.page_source, 'lxml')

In [ ]:
description = []
for i in soup.find_all("div",attrs={"class":"description"}):
    description.append(i.text)
description

In [ ]:
tags = []
for i in soup.find_all("div",attrs={"class":"tag"}):
    tags.append(i.text)
tags

In [25]:
description

[u'\nData Scientist - Waltham, MA - $190K My client is looking for a talented Data Scientist to join their Boston pracitce. They need a candidate with the experience to be hands on with coding, algorithms, predictive models, data mining, and analytics. Likewsie, they need someone with the communication and functional abilities to be a mentor and leader to their team of Data Scientists. There will be a lot of cross functiona teamwork and an understanding of the full lifecycle development of a project is a must.Data Scientist - Waltham, MA - $190K Required Experience & Qualifications:\nProficiency with Python\nExposure to big data tools such as Hadoop, Hive, Sqoop, Pig, Impala or Spark is a big plus\nExpertise in SQL and relational databases\nFamiliarity with AWS\nExperience with predictive analytics / data science\nA desire to work on big data, predictive modeling, and machine learning projects\nSuperb communication and presentation skills\nRole & Responsibilities:\nDrawing key insights to drive critical decision making\nConducting data mining and building predictive models \nCollaborating with peers and managers to consistently exceed client expectations\nParticipating in the full cycle of strategic client analysis projects from client facing kick-off to code delivery or implementation\nBenefits & Bonus\nCompetitive base and bonus\nFull medical/health\nOpportunity to work with the newest technology in the industry\nCompany Match 401k program\nRemote work\nExciting company culture\nIf you or someone you know is interested in this position, please send your resume directly to [Click Here to Email Your Resum\xe9] or call 212-731-8282. My client is looking to start the interview process as soon as possible.FRG Consulting is a leader in Niche IT Recruitment with a focus on cloud technologies including Azure & AWS, as well as Big Data, Data Science and BI. We deal with both Microsoft Partners, AWS partners & End Users throughout North America. We have open positions and relationships with some of the top partners and end users throughout the US and offer some excellent opportunities in the BI, Big data space.I understand the need for discretion and would welcome the opportunity to speak to any Big Data and cloud analytics candidates that are considering a new career or job either now or in the future. Confidentiality is of the upmost importance. For more information on available BI jobs, as well as the Business Intelligence, Big data and cloud market, I can be contacted at 212-731-8282. Please see www.frgconsulting.com for more information.Big Data / Data Science / Hadoop / Microsoft Business Intelligence / BI / Business Intelligence / SSRS / SSAS / SSIS / SQL / T-SQL / MDX / Azure / Cloud / AWS / Data Warehouse / ETL / Power BI / Architect / Big Data / Hadoop / Scala / Python / Apache / Hive / Spark / Data Science / Analytics / Predictive Modelling / \n',
 u'\nBig Data / Data Science / Hadoop / Microsoft Business Intelligence / BI / Business Intelligence / SSRS / SSAS / SSIS / SQL / T-SQL / MDX / Azure / Cloud / AWS / Data Warehouse / ETL / Power BI / Architect / Big Data / Hadoop / Scala / Python / Apache / Hive / Spark\n',
 u"\nData Scientist - Education - $130,000With millions of happy users and a new state-of-the-art office, my client is quickly evolving. Your primary focus will be in applying data mining, doing statistical analysis, and building high quality prediction systems. Responsibilities\nSelecting new features, building and optimizing classifiers using machine learning techniques\nApplying Data mining using state-of-the-art methods to data and integrate our prediction systems into existing and new products.\nEnhancing our data collection procedures to include information that is relevant for building analytic systems\nProcessing, cleansing and verifying the integrity of our data used for analysis\nDoing analysis and presenting the results in a clear manner\nSkills and Qualifications:\nAbility to work in an environment with a significant number of technical and functional unknowns\nUnderstanding of machine learning techniques and algorithms\nQuery languages such as SQL, Hive, etc.\nGreat communication skills\nExperience with NoSQL databases (such as MongoDB)\nGood scripting and programming skills using tools like php, C\nGood applied statistics skills, such as distributions, statistical testing, regression, etc.\nYour Experience & Education:\nBS or MS degree or equivalent experience\n5+ years in Data Science, Machine Learning or similar related experience\nWhat's in it for you:\nMedical, dental and vision insurance along with numerous other benefits\nRoom for growth and career advancement\nPaid vacation and sick time\nExcellent 401(k) plan with 6% company match\nPaid holidays\nEmployer paid life insurance\nA fun, dynamic company culture\nData Scientist - Education - $130,000\n"]

In [6]:
# driver.close()

In [114]:
from bs4 import BeautifulSoup
import urllib

import os
from selenium import webdriver

import time

import numpy as np

import re

chromedriver = "/Users/bokshenggan/Documents/BokSheng_Life/Science/Projects/project-four/chromedriver"
os.environ["webdriver.chrome.driver"] = chromedriver
# driver = webdriver.Chrome(chromedriver)
driver = webdriver.Chrome(executable_path="./chromedriver/chromedriver")

In [115]:
job_urls = []

for i in range(1,13):
    # change below url accordingly to your search. i.e. data analyst to data scientist
    driver.get("https://www.careerbuilder.com/jobs-machine-learning-scientist-in-usa?page_number={}".format(i))
    time.sleep(7 + 8*np.random.uniform())
    
    html = BeautifulSoup(driver.page_source, 'lxml')
    
    job_links = html.find_all(name='h2', attrs={'class':'job-title show-for-medium-up'})
    
    for link in job_links:
        jd_url = 'https://www.careerbuilder.com{}'.format(link.a['href'])
        job_urls.append(jd_url)

In [117]:
# creating empty list to store our data
title = []
industry = []
category = []
company = []
location = []
salary = []
details = []
experience = []

In [116]:
len(job_urls)

300

In [97]:
def job_details(url):
    
    driver.get(url)
    
    # adjust accordingly to your needs. below code randomly sleeps between 7 to 15secs
    time.sleep(5 + 4*np.random.uniform())
    
    soup = BeautifulSoup(driver.page_source, 'lxml')
    
    # get the job title
    try:
        job_title = soup.find('div', attrs={'class':'small-12 item'}).h1.text.replace('\n','')
        title.append(job_title)
    except AttributeError:
        title.append('NA')
    
    
    # get the industry of the company, e.g. Medical
    try:
        job_industry = soup.find('div', {'class': 'tag', 'id': 'job-industry'}).text.replace('\n','')
        industry.append(job_industry)
    except AttributeError:
        industry.append('NA')
    
    
    # get the nature of the job, e.g. IT
    try:
        job_category = soup.find('div', {'class': 'tag', 'id': 'job-categories'}).text.replace('\n','')
        category.append(job_category)
    except AttributeError:
        category.append('NA')
    
    
    # get name of company
    try:
        company_name = soup.find('div', {'class': 'company-info'}).header.h4.text.replace('\n','')
        company.append(company_name)
    except AttributeError:
        company.append('NA')
    
    
    # get location of the job, e.g. California
    try:
        job_location = soup.find('ul', {'class': 'address'}).li.text.replace('\n','')
        location.append(job_location)
    except AttributeError:
        location.append('NA')
    
    # get salary data
    job_salary = soup.find_all('div', {'class': 'tag'})

    count = 0
    for i in job_salary:
        if '$' in i.text:
            count += 1
            salary.append(i.text.replace('\n',''))
            break

    if count == 0:
        salary.append('NA')
    
    # get job description and requirements
    job_description = soup.find_all(name='div', attrs={'class':'description'})
    
    description = ''
    for i in job_description:
        description += i.text
    
    details.append(description)
    
    
    # attempt to get experience required from main description. 
    # will not extract if its written in format not covered by below 
    try:
        exp = re.search(r'[1-9]?(-| - | to )*[1-9]\+? [Yy]ears?',description).group(0)
        experience.append(exp)
    except AttributeError:
        experience.append('NA')
    
    return

In [118]:
for i in job_urls:
    print job_urls.index(i)
    job_details(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100
101
102
103
104
105
106
107
108
109
110
111
112
113
114
115
116
117
118
119
120
121
122
123
124
125
126
127
128
129
130
131
132
133
134
135
136
137
138
139
140
141
142
143
144
145
146
147
148
149
150
151
152
153
154
155
156
157
158
159
160
161
162
163
164
165
166
167
168
169
170
171
172
173
174
175
176
177
178
179
180
181
182
183
184
185
186
187
188
189
190
191
192
193
194
195
196
197
198
199
200
201
202
203
204
205
206
207
208
209
210
211
212
213
214
215
216
217
218
219
220
221
222
223
224
225
226
227
228
229
230
231
232
233
234
235
236
237
238
239
240
241
242
243
244
245
246
247
248
249
250
251
252
253
254
255
256
257
258
259
260
261
262
263
264
265
266
267
268
269
270
271
272
273
274
275
276
277
278
279
280
281
282
283
284
285
286
287
288
289
290
291
292
293
294
295
296
297
298
299

In [119]:
# check to ensure count is correct
print len(title)
print len(industry)
print len(category)
print len(company)
print len(location)
print len(details)
print len(salary)
print len(experience)

300
300
300
300
300
300
300
300

In [120]:
data_dict = {'title': title, 'industry': industry, 'category': category, 'company': company, 'location': location, 'details': details, 'salary': salary, 'experience': experience}

In [121]:
len(job_urls)

300

In [122]:
import pandas as pd

In [123]:
jobs_ml_scientist = pd.DataFrame(data_dict)
jobs_ml_scientist.head()

,category,company,details,experience,industry,location,salary,title
0,Information Technology,"American Cybersystems, Inc. (ACS Group)",\n\n\n\n\n\n Job Title: (IDS) Data Scientist \...,NA,Other Great Industries,"Newport News, VA",$50.00 - $70.00 /Hour,Data Scientist 2
1,Information Technology,Roc Search Inc,"\nData Scientist - Education - $130,000With mi...",5+ years,Computer Software,"Austin, TX","$100,000.00 - $130,000.00 /Year",Data Scientist
2,Information Technology,Eliassen Group,\nOur client is dedicated to delivering best-i...,NA,Other Great Industries,"201 South Tryon StreetCharlotte, NC 28202",NA,Data Scientist
3,"Information Technology, Engineering, Professio...",CyberCoders,\nThis position is open as of 4/22/2018.Leadin...,NA,Industrial,"Los Angeles, CA 90001","$120,000.00 - $160,000.00 /Year",Data Engineer/Scientist
4,Information Technology,"Synergy Business Consulting, Inc.",\nData Scientist\nPosition Summary:\n \nSeekin...,2+ years,Travel,"Miami, FL","$90,000.00 - $110,000.00 /Year",Data Scientist

In [124]:
driver.close()

In [125]:
jobs_ml_scientist.to_csv('ml_scientist.csv', encoding='utf-8')

In [126]:
jobs_ml_scientist.head(1)

,category,company,details,experience,industry,location,salary,title
0,Information Technology,"American Cybersystems, Inc. (ACS Group)",\n\n\n\n\n\n Job Title: (IDS) Data Scientist \...,NA,Other Great Industries,"Newport News, VA",$50.00 - $70.00 /Hour,Data Scientist 2

In [108]:
jobs_data_scientist.head(1)

,category,company,details,experience,industry,location,salary,title
0,Information Technology,Eliassen Group,\nOur client is dedicated to delivering best-i...,NA,Other Great Industries,"201 South Tryon StreetCharlotte, NC 28202",NA,Data Scientist

In [1]:
import pandas as pd

In [39]:
jobs_ds = pd.read_csv('./datasets/data_scientist.csv',encoding='utf-8')
jobs_de = pd.read_csv('./datasets/data_engineer.csv',encoding='utf-8')
jobs_da = pd.read_csv('./datasets/data_analyst.csv',encoding='utf-8')
jobs_ba = pd.read_csv('./datasets/business_analyst.csv',encoding='utf-8')
jobs_bi = pd.read_csv('./datasets/business_intelligence.csv',encoding='utf-8')
jobs_ml_s = pd.read_csv('./datasets/ml_scientist.csv',encoding='utf-8')
jobs_ml_e = pd.read_csv('./datasets/machine_learning_engineer.csv',encoding='utf-8')
jobs_as = pd.read_csv('./datasets/AI_scientist.csv',encoding='utf-8')
jobs_ae = pd.read_csv('./datasets/AI_engineer.csv',encoding='utf-8')
jobs_dar = pd.read_csv('./datasets/data_architect.csv',encoding='utf-8')
jobs_dadmin = pd.read_csv('./datasets/database_administrator.csv',encoding='utf-8')
jobs_dbdev = pd.read_csv('./datasets/database_developer.csv',encoding='utf-8')
jobs_sp = pd.read_csv('./datasets/statistical_programmer.csv',encoding='utf-8')
jobs_stats = pd.read_csv('./datasets/statistician.csv',encoding='utf-8')

In [42]:
jobs_ds['title'] = jobs_ds['title'].apply(lambda x:'data scientist')
jobs_de['title'] = jobs_de['title'].apply(lambda x:'data engineer')
jobs_da['title'] = jobs_da['title'].apply(lambda x:'data analyst')
jobs_ba['title'] = jobs_ba['title'].apply(lambda x:'business analyst')
jobs_bi['title'] = jobs_bi['title'].apply(lambda x:'business intelligence')
jobs_ml_s['title'] = jobs_ml_s['title'].apply(lambda x:'ml scientist')
jobs_ml_e['title'] = jobs_ml_e['title'].apply(lambda x:'ml engineer')
jobs_as['title'] = jobs_as['title'].apply(lambda x:'ai scientist')
jobs_ae['title'] = jobs_ae['title'].apply(lambda x:'ai engineer')
jobs_dar['title'] = jobs_dar['title'].apply(lambda x:'data architect')
jobs_dadmin['title'] = jobs_dadmin['title'].apply(lambda x:'data admin')
jobs_dbdev['title'] = jobs_dbdev['title'].apply(lambda x:'data developer')
jobs_sp['title'] = jobs_sp['title'].apply(lambda x:'stats programmer')
jobs_stats['title'] = jobs_sp['title'].apply(lambda x:'stats')

In [43]:
jobs = pd.concat([jobs_ds, jobs_de, jobs_da,
                 jobs_ba,jobs_bi,jobs_ml_s,
                 jobs_ml_e,jobs_as,jobs_ae,
                 jobs_dar,jobs_dadmin,jobs_dbdev,
                 jobs_sp,jobs_stats], axis=0)

In [44]:
jobs.drop([jobs.columns[0]], axis=1, inplace=True)

In [45]:
jobs.to_csv('jobs.csv',encoding='utf-8')